
WebView2Tester__vb/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WebView2Tester__vb/obj/Debug/TempPE/My Project.Resources.Designer.vb.dll
WebView2Tester__vb/obj/Debug/WebView2Tester__vb.exe
WebView2Tester__vb/obj/Debug/WebView2Tester__vb.MainForm.resources
WebView2Tester__vb/obj/Debug/WebView2Tester__vb.pdb
WebView2Tester__vb/obj/Debug/WebView2Tester__vb.Resources.resources
WebView2Tester__vb/obj/Debug/WebView2Tester__vb.vbproj.CopyComplete
WebView2Tester__vb/obj/Debug/WebView2Tester__vb.vbproj.CoreCompileInputs.cache
WebView2Tester__vb/obj/Debug/WebView2Tester__vb.vbproj.FileListAbsolute.txt
WebView2Tester__vb/obj/Debug/WebView2Tester__vb.vbproj.GenerateResource.cache
WebView2Tester__vb/obj/Debug/WebView2Tester__vb.vbprojAssemblyReference.cache
WebView2Tester__vb/obj/Debug/WebView2Tester__vb.xml
packages/Microsoft.Web.WebView2.1.0.2088.41/WebView2.tlb
packages/Microsoft.Web.WebView2.1.0.2088.41/WebView2.idl
packages/Microsoft.Web.WebView2.1.0.2088.41/tools/wv2winrt/zh-Hant/System.CommandLine.resources.dll
packages/Microsoft.Web.WebView2.1.0.2088.41/tools/wv2winrt/zh-Hans/System.CommandLine.resources.dll
packages/Microsoft.Web.WebView2.1.0.2088.41/tools/wv2winrt/wv2winrt.xml
packages/Microsoft.Web.WebView2.1.0.2088.41/tools/wv2winrt/wv2winrt.exe.config
packages/Microsoft.Web.WebView2.1.0.2088.41/tools/wv2winrt/wv2winrt.exe
packages/Microsoft.Web.WebView2.1.0.2088.41/tools/wv2winrt/winrt_winmd.winmd
packages/Microsoft.Web.WebView2.1.0.2088.41/tools/wv2winrt/winrt_winmd.dll
packages/Microsoft.Web.WebView2.1.0.2088.41/tools/wv2winrt/vcruntime140_app.dll
packages/Microsoft.Web.WebView2.1.0.2088.41/tools/wv2winrt/vcomp140_app.dll
packages/Microsoft.Web.WebView2.1.0.2088.41/tools/wv2winrt/vccorlib140_app.dll
packages/Microsoft.Web.WebView2.1.0.2088.41/tools/wv2winrt/vcamp140_app.dll
packages/Microsoft.Web.WebView2.1.0.2088.41/tools/wv2winrt/type_hierarchy.dll
packages/Microsoft.Web.WebView2.1.0.2088.41/tools/wv2winrt/tr/System.CommandLine.resources.dll
packages/Microsoft.Web.WebView2.1.0.2088.41/tools/wv2winrt/System.Runtime.CompilerServices.Unsafe.dll
packages/Microsoft.Web.WebView2.1.0.2088.41/tools/wv2winrt/System.Numerics.Vectors.dll
packages/Microsoft.Web.WebView2.1.0.2088.41/tools/wv2winrt/System.Memory.dll
packages/Microsoft.Web.WebView2.1.0.2088.41/tools/wv2winrt/System.CommandLine.Rendering.dll
packages/Microsoft.Web.WebView2.1.0.2088.41/tools/wv2winrt/System.CommandLine.DragonFruit.dll
packages/Microsoft.Web.WebView2.1.0.2088.41/tools/wv2winrt/System.CommandLine.dll
packages/Microsoft.Web.WebView2.1.0.2088.41/tools/wv2winrt/System.Buffers.dll
packages/Microsoft.Web.WebView2.1.0.2088.41/tools/wv2winrt/ru/System.CommandLine.resources.dll
packages/Microsoft.Web.WebView2.1.0.2088.41/tools/wv2winrt/pt-BR/System.CommandLine.resources.dll
packages/Microsoft.Web.WebView2.1.0.2088.41/tools/wv2winrt/pl/System.CommandLine.resources.dll
packages/Microsoft.Web.WebView2.1.0.2088.41/tools/wv2winrt/msvcp140_app.dll
packages/Microsoft.Web.WebView2.1.0.2088.41/tools/wv2winrt/msvcp140_2_app.dll
packages/Microsoft.Web.WebView2.1.0.2088.41/tools/wv2winrt/msvcp140_1_app.dll
packages/Microsoft.Web.WebView2.1.0.2088.41/tools/wv2winrt/ko/System.CommandLine.resources.dll
packages/Microsoft.Web.WebView2.1.0.2088.41/tools/wv2winrt/ja/System.CommandLine.resources.dll
packages/Microsoft.Web.WebView2.1.0.2088.41/tools/wv2winrt/it/System.CommandLine.resources.dll
packages/Microsoft.Web.WebView2.1.0.2088.41/tools/wv2winrt/fr/System.CommandLine.resources.dll
packages/Microsoft.Web.WebView2.1.0.2088.41/tools/wv2winrt/es/System.CommandLine.resources.dll
packages/Microsoft.Web.WebView2.1.0.2088.41/tools/wv2winrt/de/System.CommandLine.resources.dll
packages/Microsoft.Web.WebView2.1.0.2088.41/tools/wv2winrt/cs/System.CommandLine.resources.dll
packages/Microsoft.Web.WebView2.1.0.2088.41/tools/wv2winrt/concrt140_app.dll
packages/Microsoft.Web.WebView2.1.0.2088.41/tools/wv2winrt/codegen_util.dll
packages/Microsoft.Web.WebView2.1.0.2088.41/tools/wv2winrt/Antlr4.StringTemplate.dll
packages/Microsoft.Web.WebView2.1.0.2088.41/tools/wv2winrt/Antlr3.Runtime.dll
packages/Microsoft.Web.WebView2.1.0.2088.41/tools/VisualStudioToolsManifest.xml
packages/Microsoft.Web.WebView2.1.0.2088.41/runtimes/win-x86/native_uap/Microsoft.Web.WebView2.Core.dll
packages/Microsoft.Web.WebView2.1.0.2088.41/runtimes/win-x86/native/WebView2Loader.dll
packages/Microsoft.Web.WebView2.1.0.2088.41/runtimes/win-x64/native_uap/Microsoft.Web.WebView2.Core.dll
packages/Microsoft.Web.WebView2.1.0.2088.41/runtimes/win-x64/native/WebView2Loader.dll
packages/Microsoft.Web.WebView2.1.0.2088.41/runtimes/win-arm64/native_uap/Microsoft.Web.WebView2.Core.dll
packages/Microsoft.Web.WebView2.1.0.2088.41/runtimes/win-arm64/native/WebView2Loader.dll
packages/Microsoft.Web.WebView2.1.0.2088.41/NOTICE.txt
packages/Microsoft.Web.WebView2.1.0.2088.41/Microsoft.Web.WebView2.1.0.2088.41.nupkg
packages/Microsoft.Web.WebView2.1.0.2088.41/LICENSE.txt
packages/Microsoft.Web.WebView2.1.0.2088.41/lib/netcoreapp3.0/Microsoft.Web.WebView2.Wpf.xml
packages/Microsoft.Web.WebView2.1.0.2088.41/lib/netcoreapp3.0/Microsoft.Web.WebView2.Wpf.dll
packages/Microsoft.Web.WebView2.1.0.2088.41/lib/netcoreapp3.0/Microsoft.Web.WebView2.WinForms.xml
packages/Microsoft.Web.WebView2.1.0.2088.41/lib/netcoreapp3.0/Microsoft.Web.WebView2.WinForms.dll
packages/Microsoft.Web.WebView2.1.0.2088.41/lib/netcoreapp3.0/Microsoft.Web.WebView2.Core.xml
packages/Microsoft.Web.WebView2.1.0.2088.41/lib/netcoreapp3.0/Microsoft.Web.WebView2.Core.dll
packages/Microsoft.Web.WebView2.1.0.2088.41/lib/net45/Microsoft.Web.WebView2.Wpf.xml
packages/Microsoft.Web.WebView2.1.0.2088.41/lib/net45/Microsoft.Web.WebView2.Wpf.dll
packages/Microsoft.Web.WebView2.1.0.2088.41/lib/net45/Microsoft.Web.WebView2.WinForms.xml
packages/Microsoft.Web.WebView2.1.0.2088.41/lib/net45/Microsoft.Web.WebView2.WinForms.dll
packages/Microsoft.Web.WebView2.1.0.2088.41/lib/net45/Microsoft.Web.WebView2.Core.xml
packages/Microsoft.Web.WebView2.1.0.2088.41/lib/net45/Microsoft.Web.WebView2.Core.dll
packages/Microsoft.Web.WebView2.1.0.2088.41/lib/Microsoft.Web.WebView2.Core.winmd
packages/Microsoft.Web.WebView2.1.0.2088.41/build/wv2winrt.targets
packages/Microsoft.Web.WebView2.1.0.2088.41/build/WebView2Rules.Project.xml
packages/Microsoft.Web.WebView2.1.0.2088.41/build/native/x86/WebView2LoaderStatic.lib
packages/Microsoft.Web.WebView2.1.0.2088.41/build/native/x86/WebView2Loader.dll.lib
packages/Microsoft.Web.WebView2.1.0.2088.41/build/native/x86/WebView2Loader.dll
packages/Microsoft.Web.WebView2.1.0.2088.41/build/native/x64/WebView2LoaderStatic.lib
packages/Microsoft.Web.WebView2.1.0.2088.41/build/native/x64/WebView2Loader.dll.lib
packages/Microsoft.Web.WebView2.1.0.2088.41/build/native/x64/WebView2Loader.dll
packages/Microsoft.Web.WebView2.1.0.2088.41/build/native/Microsoft.Web.WebView2.targets
packages/Microsoft.Web.WebView2.1.0.2088.41/build/native/include/WebView2EnvironmentOptions.h
packages/Microsoft.Web.WebView2.1.0.2088.41/build/native/include/WebView2.h
packages/Microsoft.Web.WebView2.1.0.2088.41/build/native/include-winrt/WebView2Interop.tlb
packages/Microsoft.Web.WebView2.1.0.2088.41/build/native/include-winrt/WebView2Interop.idl
packages/Microsoft.Web.WebView2.1.0.2088.41/build/native/include-winrt/WebView2Interop.h
packages/Microsoft.Web.WebView2.1.0.2088.41/build/native/arm64/WebView2LoaderStatic.lib
packages/Microsoft.Web.WebView2.1.0.2088.41/build/native/arm64/WebView2Loader.dll.lib
packages/Microsoft.Web.WebView2.1.0.2088.41/build/native/arm64/WebView2Loader.dll
packages/Microsoft.Web.WebView2.1.0.2088.41/build/Microsoft.Web.WebView2.targets
packages/Microsoft.Web.WebView2.1.0.2088.41/build/Common.targets
packages/Microsoft.Web.WebView2.1.0.2088.41/.signature.p7s
.vs/WebView2Tester/v15/.suo
.vs/WebView2Tester/v15/Server/sqlite3/db.lock
.vs/WebView2Tester/v15/Server/sqlite3/storage.ide
.vs/WebView2Tester/v15/Server/sqlite3/storage.ide-shm
.vs/WebView2Tester/v15/Server/sqlite3/storage.ide-wal
